@import "../../../main-styles.scss";

.root {
    display: flex;
    width: 100%;
    position: relative;

    &:hover {
        .x-icon-button {
            opacity: 1;
            transform: scale(1);
        }
    }

    .x-icon-button {
        position: absolute;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background-color: $dark;
        background-image: url("../../../assets/delete_icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        right: -13px;
        top: -13px;
        cursor: pointer;

        transition: opacity 0.2s ease-in, transform 0.2s ease-out;

        transform: scale(0);
        opacity: 0;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.budget-item {
    display: flex;
    width: 100%;
    background-color: $light-grey;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 0.2s ease-out;

    &:hover{
        background-color: darken($light-grey, 2%);
    }

    .description {
        flex-grow: 1;
        font-size: 18px;
        margin-left: 5px;

        display: flex;
        align-items: center;
    }

    .amount {
        padding: 5px;
        border-radius: 3px;
    }
}

.expense {
    p {
        color: $red;
    }
    .amount {
        background-color: $light-red;
    }
}

.income {
    p {
        color: $green;
    }
    .amount {
        background-color: $light-green;
    }
}
